<%- include('partials/header') -%> 

<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to myBlog!</h1>
      <p>My name is XYZ and this is myBLog about blog's stuff.</p>
      <h4>Technology used:</h4>
      <ul>
        <li>Bootstrap</li>
        <li>Sass/Scss</li>
        <li>Javascript</li>
        <li>Node.js (express, ejs, lodash)</li>
      </ul>
        <p>This is a template for a small blog. 
          It includes a large callout called ...
          
      <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <form id="db-form" method="POST" action="/">
      <input type="radio" name="changeDB" id="staticDB" value="staticDB"
      <% if (check == 'staticDB') { %>
       checked
      <% } %>
      >
      <label for="staticDB">Static Posts</label>
      <input type="radio" name="changeDB" id="mongoDB" value="mongoDB"
      <% if (check == 'mongoDB') { %>
        checked
       <% } %>
      >
      <label for="mongoDB">mongoDB Posts //requires mongoDB :-)</label>
    </form>
    <h1 class="display-4">Recent articles:</h1>
    <div class="row">
      <% for(let i=0; i < postsArr.length; i++) { %>
        <% if (i == 6) { //show ap to 6 posts%>
          <% break; %>           
        <% } %>
        <div class="col-md-4">
          <h2><%= postsArr[i].title %></h2>
          <p>
          <% if (postsArr[i].content.length > 200) { %>
            <%= postsArr[i].content.substring(0,200) + " ..." %>
          <% } else {%>
            <%= postsArr[i].content %>
          <% } %>
          </p>
          <p><a 
            class="btn btn-secondary" 
            href="/posts/<%= postsArr[i].title %>" 
            role="button">Show post &raquo;</a></p>
        </div>      
      <% } %>
    </div>    
  </div>

</main>

<%- include('partials/footer') -%> 